{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    
    
    {% if tag %}
    <div id="tag">
        <h3>{{tag}}</h3>
    </div>
    {% else %}
    <header>
        <div class="navbar-3">
            <h2>Active Listings</h2>
        </div>
    </header>    
    {% endif %}
     
    {% if form %}
       <form action="{% url 'add_create_listing' %}" method="POST">
        {% csrf_token %}
            {{form}}
        <input type="submit">
       </form>
    {% endif %}

    <div class="object-container">
        {% for object in objects %}
        <div class="object-body">
           
                <a href="{% url 'product_details' object.id %}">
                    <div class="object-image">
                        <img src="{{ object.product_image.url }}" alt="{{object.product_name}}">     
                    </div>
                
                <br>
                <br>
                <br>
                <!-- <h3>{{ object.product_image.url }}</h3> -->
                <ul>
                    <li><h5>{{ object.product_name }}</h5></li>
                    <li><h6 style="display : inline">PRICE:</h6><span style="display : inline">{{ object.product_price }}$$</span></li>
                    <li>{{object.product_description}}</li>
                
                
                
                </ul>
            
            
            </a>

        </div>
        {% endfor %}

    </div>

{% endblock %}
